{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile - Restoran{% endblock %}
{% block page_title %}Edit Profile{% endblock %}
{% block breadcrumb_active %}Edit Profile{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="bg-light rounded p-4 mb-4">
                    <h3 class="mb-4">Edit Your Profile</h3>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row mb-4">
                            <div class="col-lg-3 text-center">
                                <div class="mb-3">
                                    {% if user.profile.profile_picture %}
                                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.get_full_name }}" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                                    {% else %}
                                        <img src="{% static 'img/user-default.jpg' %}" alt="{{ user.get_full_name }}" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label for="{{ profile_form.profile_picture.id_for_label }}" class="form-label">Change Profile Picture</label>
                                    {{ profile_form.profile_picture }}
                                    {% if profile_form.profile_picture.errors %}
                                    <div class="text-danger">
                                        {% for error in profile_form.profile_picture.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <h4 class="mb-3">Personal Information</h4>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ user_form.first_name }}
                                            <label for="{{ user_form.first_name.id_for_label }}">First Name</label>
                                        </div>
                                        {% if user_form.first_name.errors %}
                                        <div class="text-danger">
                                            {% for error in user_form.first_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ user_form.last_name }}
                                            <label for="{{ user_form.last_name.id_for_label }}">Last Name</label>
                                        </div>
                                        {% if user_form.last_name.errors %}
                                        <div class="text-danger">
                                            {% for error in user_form.last_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ user_form.email }}
                                            <label for="{{ user_form.email.id_for_label }}">Email</label>
                                        </div>
                                        {% if user_form.email.errors %}
                                        <div class="text-danger">
                                            {% for error in user_form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ profile_form.phone }}
                                            <label for="{{ profile_form.phone.id_for_label }}">Phone</label>
                                        </div>
                                        {% if profile_form.phone.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.phone.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ profile_form.date_of_birth.id_for_label }}" class="form-label">Date of Birth</label>
                                        {{ profile_form.date_of_birth }}
                                        {% if profile_form.date_of_birth.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.date_of_birth.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <h4 class="mb-3 mt-4">Address Information</h4>
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            {{ profile_form.address }}
                                            <label for="{{ profile_form.address.id_for_label }}">Address</label>
                                        </div>
                                        {% if profile_form.address.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.address.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ profile_form.city }}
                                            <label for="{{ profile_form.city.id_for_label }}">City</label>
                                        </div>
                                        {% if profile_form.city.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.city.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ profile_form.state }}
                                            <label for="{{ profile_form.state.id_for_label }}">State</label>
                                        </div>
                                        {% if profile_form.state.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.state.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ profile_form.postal_code }}
                                            <label for="{{ profile_form.postal_code.id_for_label }}">Postal Code</label>
                                        </div>
                                        {% if profile_form.postal_code.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.postal_code.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{ profile_form.country }}
                                            <label for="{{ profile_form.country.id_for_label }}">Country</label>
                                        </div>
                                        {% if profile_form.country.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.country.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <h4 class="mb-3 mt-4">About You</h4>
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="{{ profile_form.bio.id_for_label }}" class="form-label">Bio</label>
                                        {{ profile_form.bio }}
                                        {% if profile_form.bio.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.bio.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="form-text">Tell us a bit about yourself</div>
                                    </div>
                                </div>

                                <h4 class="mb-3 mt-4">Dietary Preferences</h4>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="{{ profile_form.dietary_preference.id_for_label }}" class="form-label">Dietary Preference</label>
                                        {{ profile_form.dietary_preference }}
                                        {% if profile_form.dietary_preference.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.dietary_preference.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ profile_form.spice_preference.id_for_label }}" class="form-label">Spice Preference</label>
                                        {{ profile_form.spice_preference }}
                                        {% if profile_form.spice_preference.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.spice_preference.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ profile_form.favorite_cuisine.id_for_label }}" class="form-label">Favorite Cuisine</label>
                                        {{ profile_form.favorite_cuisine }}
                                        {% if profile_form.favorite_cuisine.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.favorite_cuisine.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ profile_form.food_allergies.id_for_label }}" class="form-label">Food Allergies</label>
                                        {{ profile_form.food_allergies }}
                                        {% if profile_form.food_allergies.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.food_allergies.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="form-text">List any food allergies you have</div>
                                    </div>
                                </div>

                                <h4 class="mb-3 mt-4">Social Media Profiles</h4>
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fab fa-facebook"></i></span>
                                            {{ profile_form.facebook_profile }}
                                        </div>
                                        {% if profile_form.facebook_profile.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.facebook_profile.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                                            {{ profile_form.instagram_profile }}
                                        </div>
                                        {% if profile_form.instagram_profile.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.instagram_profile.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fab fa-twitter"></i></span>
                                            {{ profile_form.twitter_profile }}
                                        </div>
                                        {% if profile_form.twitter_profile.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.twitter_profile.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <h4 class="mb-3 mt-4">Communication Preferences</h4>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {{ profile_form.is_subscribed_to_newsletter }}
                                            <label class="form-check-label" for="{{ profile_form.is_subscribed_to_newsletter.id_for_label }}">
                                                Subscribe to newsletter for special offers and updates
                                            </label>
                                        </div>
                                        {% if profile_form.is_subscribed_to_newsletter.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.is_subscribed_to_newsletter.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {{ profile_form.receive_order_updates }}
                                            <label class="form-check-label" for="{{ profile_form.receive_order_updates.id_for_label }}">
                                                Receive updates about your orders
                                            </label>
                                        </div>
                                        {% if profile_form.receive_order_updates.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.receive_order_updates.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {{ profile_form.receive_promotional_emails }}
                                            <label class="form-check-label" for="{{ profile_form.receive_promotional_emails.id_for_label }}">
                                                Receive promotional emails and offers
                                            </label>
                                        </div>
                                        {% if profile_form.receive_promotional_emails.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.receive_promotional_emails.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {{ profile_form.receive_sms_notifications }}
                                            <label class="form-check-label" for="{{ profile_form.receive_sms_notifications.id_for_label }}">
                                                Receive SMS notifications
                                            </label>
                                        </div>
                                        {% if profile_form.receive_sms_notifications.errors %}
                                        <div class="text-danger">
                                            {% for error in profile_form.receive_sms_notifications.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    <a href="{% url 'accounts:dashboard' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
